<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("HeadPartial")
</head>
<body>
    @await Html.PartialAsync("ScriptPartial")
    @await Html.PartialAsync("HeaderPartial")

    <div class="main-container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("FooterPartial")
</body>
</html>