.messengers-area {
    position: fixed;
    margin-top: 3vh;
    margin-bottom: 2vh;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.messenger-box {
    border-radius: 1.5vh;
    margin: 1%;
    text-align: center;
}