@{
    ViewBag.Title = "Пошук";
    ICollection<BaseMessenger> groups = Model;
}

<div class="search-components">
    <h3>Список груп</h3>
    <br />

    @await Html.PartialAsync("Filter")
</div>

<div class="search-list">
    @foreach (var group in groups)
    {
        <h5>
            @group.Name - <a asp-controller="Messenger" asp-action="JoinGroup" method="post" asp-route-messengerId="@group.Id">Приєднатися</a>
        </h5>
    }
</div>