@{
IEnumerable<Messenger> messengers = Model;
}

<link rel="stylesheet" href="~/css/Home/Main.css" />
<div class="messengers-area">
    <div class="messengers-zone">
        <div class="create-group">
            <a class="button-type" method="post" asp-controller="Messenger" asp-action="CreateGroup">Створити групу</a>
        </div>

        <div class="messengers-list" id="messengers">
        </div>

        <script type="text/javascript">
            let messengersData = @Html.Raw(JsonConvert.SerializeObject(Model));
        </script>

        <script type="text/javascript" src="~/js/homeIndex.js"></script>
    </div>

    <div class="open-messengers">
        <div id="chatroom"></div>

        <div id="inputForm">
            <input type="text" id="message" />
            <input type="button" id="sendContent" value="Відправити" />
        </div>
    </div>
</div>