.identity-box{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px yellow;
    border-radius: 10px;
}

.identity-box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: yellow;
}

.identity-box .string-parametrs input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: aqua;
}

.identity-box .string-parametrs label {
    position: relative;
    left: 0;
    top: -35px;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.identity-box .string-parametrs input:focus~label,
.identity-box .string-parametrs input:valid~label {
    top: -60px;
    left: 0;
    color: yellow;
    font-size: 12px;
}

#submit {
    background: #242026;
    padding: 10px 20px;
    color: aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
    border: 1px solid aqua;
    margin: auto;
}

#submit:hover {
    border-radius: 5px;
    color: yellow;
    border: 1px solid yellow;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.button-type {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    color: yellow;
    margin: auto;
    text-align: center;
    border: 1px solid yellow;
    letter-spacing: 1px;
}

.button-type:hover {
    text-decoration: none;
    color: aqua;
    border: 1px solid aqua;
}

.checkbox {
    text-align: center;
    margin-top: -30px;
}

#rememberme {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    background-color: aqua;
    border-radius: 10%;
}

#rememberme:checked {
    background-color: yellow;
}

.identity-box .checkbox input:valid ~ label {
    color: yellow;
}